.character-layout {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: "Jetbrains Mono";
    justify-content: flex-start;
    height: 100vh;       
    overflow: hidden;     
    box-sizing: border-box;
}

.big-brace {
    font-size: 90vh;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    margin-right: 40px;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.placeholder {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
